---
# tasks file for update_package_cache

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true
  when:
    - ansible_pkg_mgr == "apt"

- name: Update yum cache
  ansible.builtin.dnf:
    update_cache: true
  when:
    - ansible_pkg_mgr == "yum"
